.container-new {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.3fr;

    &>.left {
        width: 100%;
        background: linear-gradient(180deg, #15327B 0%, #844A06 98.63%);
        position: relative;
        display: flex;
        align-items: flex-end;
        gap: 60px;
        justify-content: center;
        flex-direction: column;
    }

    &>.right {
        width: 100%;
        padding: 40px;

        &>.logo {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        &>.container-button {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 20px;

            &>.name {
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                font-family: "Arial";

                &>input {
                    width: 475px;
                    height: 71px;
                    border: 1px solid #000000;
                    border-radius: 7px;
                    text-transform: uppercase;
                }
            }

            &>.env {
                &>button {
                    width: 475px;
                    height: 71px;
                    border: 1px solid #000000;
                    border-radius: 7px;
                    font-size: 24px;
                    text-transform: uppercase;

                    &:hover {
                        opacity: .8;
                        transition: .4s;
                        cursor: pointer;
                    }
                }



            }
        }
    }
}